# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.swp

# Goland project files
.idea/
*.iml

/kr
/zim
/grpc
/gin
/chi
/echo
/iris
/fiber
/macaron
/mux
/httprouter
/tars
/simple
/tarsmir
/tarsgin
/release/*
/Ignitefile
